.usa-nav {
  width: 100%;
  @include u-bg("primary-dark");
  @include at-media("desktop") {
    background-color: transparent;
  }
  &__primary a {
    @include u-color("white");
    &:hover {
      @include u-color("primary-lighter");
    }
  }
  &__primary-item {
    border: none;
  }

  &__url {
    position: relative;
    @include u-font("sans", "xl");
    @include u-color("white");
    font-weight: 300 !important;
    &:hover {
      @include u-color("primary-lighter");
      background-color: transparent !important;
    }
    @include at-media("desktop") {
      @include u-font("sans", "md");
      @include u-color("primary-darker");
      &:after {
        display: block;
        content: "";
        position: absolute;
        height: 0.05em !important;
        bottom: 0.5em !important;
        left: 1rem;
        right: 1rem;
        @include u-bg("primary-darker");
      }
      &:hover {
        @include u-color("primary-darker");
        &:after {
          height: 0.1em !important;
        }
      }
    }

    &.usa-current {
      @include u-color("white");
      font-weight: 900 !important;
      &:hover {
        @include u-color("primary-lighter");
        background-color: transparent !important;
      }

      @include at-media("desktop") {
        font-weight: 300 !important;
      }
    }
  }
}

.usa-nav-open {
  width: auto;
  @include at-media("desktop") {
    display: none;
  }
  border-radius: 0;
  @include u-bg("accent-cool-darker");
  &:hover {
    @include u-bg("accent-warm");
  }
}

.usa-nav-close {
  text-align: right;
  border-radius: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  @include at-media("desktop") {
    display: none;
  }
}
