.ProjectCard {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
  .usa-card {
    &__container {
      border-radius: 0;
      @include u-bg("white");
    }
    &__header {
      @include u-margin-bottom(2);
    }
    &__heading {
      @include u-color("accent-warm");
      @include u-font("sans", "lg");
      @include u-margin-bottom(2);
    }
    &__subhead {
      @include u-font("sans", "xl");
    }
    &__meta {
      font-style: italic;
    }
  }

  &__excerpt {
    @include u-margin-y(2);

    @include u-font("sans", "sm");
  }
  &__topics-heading {
    display: block;
    @include u-color("accent-warm");
    @include u-margin-y(1);
    @include u-font("sans", "md");
  }
  &__tag {
    @include u-color("white");
    @include u-font("sans", "2xs");
    @include u-padding(1);
    @include u-margin-right(1);
    @include u-margin-bottom(1);
    @include u-bg("accent-cool-darker");
    line-height: 1;
    display: inline-block;
  }
}

.ProjectList {
  column-count: 2;
  width: 100%;
  margin: 50px auto;
}
